@import "../utilities/variables";

header {
  background-color: $backgroundColor;
  width: 90%;
  margin: 0 auto 0 auto;
  padding-top: 5rem;
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-rows: auto auto;
  place-items: center;
  .logoContainer {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    /* animation: 1s ease-in-out 0s 1 animateLogo; */
    width: 80%;
    max-height: 800px;
    overflow: hidden;
    border-radius: 10%;
    .background {
      width: 90%;
      max-height: 500px;
      transition: $transition1;
      object-fit: cover;
    }
    .logo {
      position: absolute;
      left: 6.5%;
      top: 2%;
      width: 4%;
      height: auto;
      transition: $transition1;
      object-fit: cover;
    }
  }
}
/* ANCHOR mediaQueries Mobile phone */
@media only screen and (min-device-width: 300px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  header {
    background-color: $backgroundColor;
    width: 100%;
    padding-top: 0rem;
    display: flex;
    .logoContainer {
      width: 100%;
      max-height: 500px;
      overflow: hidden;
      border-radius: 0px;
      .background {
        width: 100%;
        max-height: 350px;
        overflow: hidden;
        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
      .logo {
        position: absolute;
        right: 10px !important;
        top: 10px;
        width: 14%;
        height: auto;
        transition: $transition1;
        object-fit: cover;
      }
    }
  }
}
