@import "../utilities/variables";

menu {
  .menuContainer {
    grid-column-start: 1;
    grid-row-start: 2;
    animation: 1s ease-in-out 0s 1 slideMenuContainer;
    .menuCard {
      border-bottom: 1px solid $accentColor;
      border-radius: 5px;
      margin: 1rem;
      transition: $transition1;
      a {
        text-decoration: none;
        font-size: $fontSize2;
        display: block;
        padding: 0.8rem;
      }
    }
    .menuCard:hover {
      transform: scale(1.1);
    }
  }
}

/* ANCHOR mediaQueries Mobile phone */
@media only screen and (min-device-width: 300px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  menu {
    .menuContainer {
      animation-name: none;
      position: absolute;
      position: fixed;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $backgroundColor;
      width: 100%;
      margin-top: -800px;
      transition: $transition2;
      .menuCard {
        border-bottom: 1px solid $accentColor;
        border-radius: 5px;
        margin: 1rem;
        transition: $transition1;
        a {
          text-decoration: none;
          font-size: 1rem;
          display: block;
          padding: 0.8rem;
        }
      }
      .menuCard:hover {
        transform: scale(1);
      }
    }
  }
  #menuContainer.active {
    margin-top: -130px;
    animation-name: none;
    /* position: absolute; */
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $backgroundColor;
    width: 100%;
    height: 100vh;
    z-index: 1;
    top: 100px;
  }
}
