@import "../utilities/variables";

header {
  .socialLogoContainer {
    display: flex;
    div {
      margin: 0.5rem;
    }
    .menuBurger {
      visibility: hidden;
    }
    .home {
      animation: 1s ease-in-out 0s 1 slideMenuContainer;
      transition: $transition1;
    }
    .contact {
      animation: 1s ease-in-out 0s 1 slideMenuContainer;
      transition: $transition1;
    }
    .facebook {
      animation: 1s ease-in-out 0s 1 slideMenuContainer;
      transition: $transition1;
    }
    .instagram {
      animation: 1s ease-in-out 0s 1 slideMenuContainer;
      transition: $transition1;
    }

    .contact:hover {
      transform: scale(1.2);
    }
    .facebook:hover {
      transform: scale(1.2);
    }
    .instagram:hover {
      transform: scale(1.2);
    }
  }
}

/* ANCHOR mediaQueries Mobile phone */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  header {
    .socialLogoContainer {
      position: absolute;
      position: fixed;
      display: flex;
      justify-content: center;
      bottom: 0;
      z-index: 2;
      width: 100%;
      svg {
        padding: 0.5rem;
      }
      .menuBurger {
        visibility: visible;
        transition: $transition2;
      }
      #menuBurger.active {
        transform: rotate(180deg);
      }
      .home {
        animation-name: none;
      }
      .contact {
        animation-name: none;
      }
      .facebook {
        animation-name: none;
      }
      .instagram {
        animation-name: none;
      }
    }
    .socialLogoContainer::before {
      content: "";
      width: 100%;
      height: 3.5rem;
      background-color: $backgroundColor;
      position: absolute;
      position: fixed;
      bottom: 0;
      z-index: -1;
    }
  }
}
