@import "module/header";
@import "module/footer";
@import "module/menu";
@import "module/social";

/* general */

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: $mainFont;
}

h1 {
  font-size: $fontSize3;
}

p {
  font-size: $fontSize2;
}

body {
  background-image: url(/prod/assets/img/backgroundMain.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: repeat;
}
@media only screen and (min-device-width: 300px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  body {
    width: 100%;
    height: 100vh;
    background-image: none;
  }
}

/* general end */

/*ANCHOR section index */
#index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $backgroundColor;
  width: 90%;
  margin: 0 auto 0 auto;
  padding: 2rem 0 5rem 0;
  .textIndex {
    margin-left: 7rem;
    line-height: $linehight3;
    width: 50%;
    h1 {
      padding-bottom: 2rem;
      span {
        color: $accentColor;
      }
    }
  }
}
/* section index mobile */
@media only screen and (min-device-width: 300px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $backgroundColor;
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 5rem 0 5rem 0;
    .textIndex {
      margin-left: 0rem;
      line-height: 1.5rem;
      width: 90%;
      h1 {
        line-height: $linehight3;
        padding-bottom: 1rem;
        span {
          color: $accentColor;
        }
      }
    }
  }
}
/* section index mobile end */
/* section index end */

/*ANCHOR section carClean */
#carClean {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $backgroundColor;
  width: 90%;
  margin: 0 auto 0 auto;
  padding: 2rem 0 5rem 0;
  .textCarClean {
    margin-left: 7rem;
    line-height: $linehight3;
    width: 50%;
    h1 {
      padding-bottom: 2rem;
    }
    p {
      span {
        color: $accentColor;
        a {
          text-decoration: none;
          color: $accentColor;
        }
      }
    }
  }
  .insideClean {
    margin-left: 7rem;
    margin-top: 5rem;
    width: 50%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
    p {
      padding-top: 1rem;
      span {
        color: $accentColor;
      }
    }
  }
  .desinfection {
    margin-left: 7rem;
    margin-top: 5rem;
    width: 50%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
    p {
      padding-top: 1rem;
      span {
        color: $accentColor;
      }
    }
  }
  .headlight {
    margin-left: 7rem;
    margin-top: 5rem;
    width: 50%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
    p {
      padding-top: 1rem;
      span {
        color: $accentColor;
      }
    }
  }
}
/* section index mobile */
@media only screen and (min-device-width: 300px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #carClean {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $backgroundColor;
    width: 100%;
    padding: 5rem 0 5rem 0;
    .textCarClean {
      margin-left: 0rem;
      line-height: 1.5rem;
      width: 90%;
      h1 {
        padding-bottom: 1rem;
        line-height: $linehight3;
      }
      p {
        span {
          color: $accentColor;
          a {
            text-decoration: none;
            color: $accentColor;
          }
        }
      }
    }
    .insideClean {
      margin: 5rem 0 0 0;
      width: 90%;
      height: auto;
      border-radius: 10px;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
      p {
        padding-top: 1rem;
      }
    }
    .desinfection {
      margin: 5rem 0 0 0;
      width: 90%;
      height: auto;
      border-radius: 10px;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
      p {
        padding-top: 1rem;
      }
    }
    .headlight {
      margin: 5rem 0 0 0;
      width: 90%;
      height: auto;
      border-radius: 10px;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
      p {
        padding-top: 1rem;
      }
    }
  }
}
/* section index mobile end */
/* section carClean end */

/*ANCHOR section carHifi */
#galerie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $backgroundColor;
  width: 90%;
  margin: 0 auto 0 auto;
  padding: 2rem 0 5rem 0;
  .galerieContainer {
    overflow: hidden;
    margin-left: 7rem;
    line-height: $linehight3;
    width: 50%;
  }
  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active,
  .dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
}

/* section carHifi mobile */
@media only screen and (min-device-width: 300px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #galerie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $backgroundColor;
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 5rem 0 5rem 0;
    .galerieContainer {
      margin-left: 0rem;
      line-height: 1.5rem;
      width: 90%;
    }
  }
}

/* section carHifi mobile end */
/* section carHifi end */

/*ANCHOR section contact */
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $backgroundColor;
  width: 90%;
  margin: 0 auto 0 auto;
  padding: 2rem 0 5rem 0;
  .textContact {
    margin-left: 7rem;
    line-height: $linehight3;
    width: 50%;
    p {
      span {
        a {
          color: $accentColor;
        }
      }
    }
    h1 {
      padding-bottom: 1rem;
      span {
        color: $accentColor;
      }
    }
  }
  .map {
    width: 50%;
    height: auto;
    margin: 5rem 0 0 0;
    iframe {
      width: 100%;
      height: auto;
    }
  }
}
/* section index mobile */
@media only screen and (min-device-width: 300px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $backgroundColor;
    width: 100%;
    padding: 5rem 0 5rem 0;
    .textContact {
      margin-left: 0rem;
      line-height: 1.5rem;
      width: 90%;
      p {
        span {
          a {
            color: $accentColor;
          }
        }
      }
      h1 {
        line-height: $linehight3;
        padding-bottom: 1rem;
        span {
          color: $accentColor;
        }
      }
    }
    .map {
      width: 90%;
      height: 20%;
      margin: 5rem 0 0 0;
      iframe {
        width: 100%;
        height: auto;
      }
    }
  }
}
/* section index mobile end */
/* section contact end */

/*ANCHOR section folien */
#folien {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $backgroundColor;
  width: 90%;
  margin: 0 auto 0 auto;
  padding: 2rem 0 5rem 0;
  .textFolien {
    margin-left: 7rem;
    line-height: $linehight3;
    width: 50%;
    h1 {
      padding-bottom: 2rem;
    }
    p {
      span {
        color: $accentColor;
      }
    }
  }
  .textFolienMöbel {
    margin-top: 1rem;
  }
}
/* section folie mobile */
@media only screen and (min-device-width: 300px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #folien {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $backgroundColor;
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 5rem 0 5rem 0;
    .textFolien {
      margin-left: 0rem;
      line-height: 1.5rem;
      width: 90%;
      h1 {
        line-height: $linehight3;
        padding-bottom: 1rem;
      }
      p {
        span {
          color: $accentColor;
        }
      }
    }
    .textFolienMöbel {
      margin-top: 1rem;
    }
  }
}
/* section folie end */
/* section folien end */

/*ANCHOR section impressum */
#impressum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $backgroundColor;
  width: 90%;
  margin: 0 auto 0 auto;
  padding: 2rem 0 5rem 0;
  .textImpressum {
    margin-left: 7rem;
    line-height: $linehight3;
    width: 50%;
    h1 {
      padding-bottom: 2rem;
    }
  }
}
/* section impressum mobile */
@media only screen and (min-device-width: 300px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #impressum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $backgroundColor;
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 5rem 0 5rem 0;
    /* fix the overflow of impressum */
    overflow: hidden;
    .textImpressum {
      margin-left: 0rem;
      line-height: 1.5rem;
      width: 90%;
      h1 {
        line-height: $linehight3;
        padding-bottom: 1rem;
      }
    }
  }
}
/* section impressum end */
/* section index mobile end */

/*ANCHOR section partners */
#partners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $backgroundColor;
  width: 90%;
  margin: 0 auto 0 auto;
  padding: 2rem 0 5rem 0;
  .textPartners {
    h1 {
      margin: 0 0 2rem 0;
    }
    margin-left: 7rem;
    line-height: $linehight3;
    width: 50%;
    .partnerContainer {
      width: 100%;
      margin-top: 5rem;
      .partnerImgContainer {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        .outerContainer {
          display: flex;
          align-items: center;
          min-width: 15rem;
          height: 15rem;
          margin: 0 auto 0 auto;
          .imgContainer {
            margin: 1rem;
            min-width: 14rem;
            height: auto;
            object-fit: cover;
            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
  }
}
/* section partners mobile */
@media only screen and (min-device-width: 300px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $backgroundColor;
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 5rem 0 5rem 0;
    .textPartners {
      margin: 0;
      line-height: 1.5rem;
      width: 90%;
      h1 {
        margin: 0 0 1rem 0;
      }
      .partnerContainer {
        margin-top: 5rem;
        padding: 0;
        .partnerImgContainer {
          padding: 0;
          .outerContainer {
            display: flex;
            align-items: center;

            height: auto;
            margin: 0 auto 0 auto;
            .imgContainer {
              margin: 1rem;
              min-width: 90%;
              height: auto;
              object-fit: cover;
              img {
                width: 100%;
                height: auto;
              }
            }
          }
        }
      }
    }
  }
}
/* section index partners end */
/* section partners end */

/*ANCHOR section shop */
#shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $backgroundColor;
  width: 90%;
  margin: 0 auto 0 auto;
  padding: 2rem 0 5rem 0;
  .textShop {
    h1 {
      margin-bottom: 2rem;
    }
    margin-left: 7rem;
    line-height: $linehight3;
    width: 50%;
    .shopCards {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: auto;
      border-radius: 10px;
      .shopCard {
        margin: 4rem 0 0 0;
        display: flex;
        width: 100%;
        .shopCardText {
          height: auto;
          margin-left: 2rem;
        }
        .imgContainer {
          min-width: 40%;
          height: 90%;
          border-radius: 10px;
          overflow: hidden;
          img {
            width: 100%;
            height: auto;
            object-fit: cover;
          }
        }
      }
      span,
      a {
        color: $accentColor;
      }
    }
  }
}
/* section shop mobile */
@media only screen and (min-device-width: 300px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #shop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $backgroundColor;
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 5rem 0 5rem 0;
    .textShop {
      margin-left: 0rem;
      line-height: $linehight2;
      width: 90%;
      .shopCards {
        display: flex;
        width: 100%;
        height: auto;
        border-radius: 10px;
        .shopCard {
          margin: 4rem 0 0 0;
          display: flex;
          flex-wrap: wrap;
          width: 100%;

          .shopCardText {
            margin: 1rem 0 0 0;
          }
          .imgContainer {
            min-width: 100%;
            height: 40%;
            border-radius: 10px;
            overflow: hidden;
            img {
              width: 100%;
              height: auto;
              object-fit: cover;
            }
          }
        }
        span,
        a {
          color: $accentColor;
        }
      }
    }
  }
}
/* section shop mobile end */
/* section shop end */

/*ANCHOR section wheels */
#wheels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $backgroundColor;
  width: 90%;
  margin: 0 auto 0 auto;
  padding: 2rem 0 5rem 0;
  .textWheels {
    margin-left: 7rem;
    line-height: $linehight3;
    width: 50%;
    h1 {
      padding-bottom: 2rem;
    }
    p {
      .highlieghtContent {
        color: $accentColor;
      }
    }
    a {
      text-decoration: none;
      color: $accentColor;
    }
  }
  .imgContainerWheels {
    display: flex;
    flex-direction: column;
    align-items: center;
    .alcarContainer {
      margin: 3rem 0 3rem 0;
    }
    .cardContainerWheels {
      display: flex;
      .partnerCard {
        max-width: 150px;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        img {
          width: 100%;
          height: auto;
          padding: 0.5rem;
        }
      }
    }
  }
}
/* section wheels mobile */
@media only screen and (min-device-width: 300px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #wheels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $backgroundColor;
    width: 100%;
    padding: 5rem 0 5rem 0;
    .textWheels {
      margin-left: 0rem;
      width: 90%;
      h1 {
        padding-bottom: 1rem;
      }
      p {
        line-height: 1.5rem;
        .highlieghtContent {
          color: $accentColor;
        }
      }
      a {
        text-decoration: none;
        color: $accentColor;
      }
    }
    .imgContainerWheels {
      display: flex;
      flex-direction: column;
      align-items: center;
      .alcarContainer {
        max-width: 90%;
        margin: 3rem 0 3rem 0;
        img {
          width: 100%;
          height: auto;
        }
      }
      .cardContainerWheels {
        display: flex;
        .partnerCard {
          max-width: 150px;
          aspect-ratio: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 1rem;
          img {
            width: 100%;
            height: auto;
            padding: 0.5rem;
          }
        }
      }
    }
  }
}
/* section wheels mobile end */
/* section wheels end */
